 /* .container {
    margin: 0 auto;
    width: 450px;
    background-color:rgb(102, 193, 223);   
    padding: 10px;
}  */

/* .center {
    text-align: center;
} */


body{
    margin-left: 70px;
}

ul{ 
    list-style-type: none;
  }